<div class="wrapper-profil">
  <div class="profile-header-wrapper">
    <div class="container profile-header-container text-center">

      <div class="tabs">

        <a class="tab" data-target="#create">
          <h3>Créer un nouveau service</h3>
        </a>
        <a class="tab" data-target="#services">
          <h3>Tous mes services</h3>
        </a>
        <a class="tab" data-target="#confirmed">
          <h3>Mes services à venir</h3>
        </a>
        <a class="tab" data-target="#settings">
          <h3>Mes informations</h3>
        </a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="tab-content" id="create">

    </div>
    <div class="tab-content " id="services">
        <%= render "my_services" %>
    </div>
    <div class="tab-content hidden" id="confirmed">
        <%= render "services_to_come" %>
    </div>
    <div class="tab-content hidden" id="settings">
        <%= render "settings" %>
    </div>
  </div>
</div>
