
<li>
  <a href="/services-a-la-personne/7960" class="menu-level-leaf">Services à la famille</a>

  <div class="hidden menu-level">
    <button type="button" class="menu-level-back"><span>Services à la famille</span></button>
    <ul class="menu-level-list">
      <li>
        <a href="/services-a-la-personne/garde-d-enfant-moins-3-ans-a-domicile-et-accompagnement-d-enfant-moins-trois" class="menu-level-leaf">Garde d&#039;enfant de moins de 3 ans
        </a>
      </li>
      <li>
        <a href="/services-a-la-personne/accompagnement-d-enfants-moins-3-ans" class="menu-level-leaf">Accompagnement des enfants de moins de 3 ans
        </a>
      </li>
      <li>
        <a href="/services-a-la-personne/garde-d-enfants-a-domicile-plus-3-ans" class="menu-level-leaf">Garde d’enfants de plus de 3 ans
        </a>
      </li>
      <li>
       <a href="/services-a-la-personne/accompagnement-des-enfants-plus-3-ans-dans-leurs-deplacements" class="menu-level-leaf">Accompagnement des enfants de plus de 3 ans
       </a>
     </li>
     <li>
      <a href="/services-a-la-personne/soutien-scolaire-ou-cours-a-domicile" class="menu-level-leaf">Soutien scolaire et cours à domicile
      </a>
    </li>
  </ul>
</div>
</li>
<li>
  <a href="/services-a-la-personne/7959" class="menu-level-leaf">Services de la vie quotidienne</a><div class="hidden menu-level">
  <button type="button" class="menu-level-back"><span>Services de la vie quotidienne</span></button>
  <ul class="menu-level-list">
    <li>
      <a href="/services-a-la-personne/entretien-la-maison-et-travaux-menagers" class="menu-level-leaf">Entretien de la maison et travaux ménagers
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/petits-travaux-jardinage" class="menu-level-leaf">Petits travaux de jardinage</a>
    </li>
    <li>
      <a href="/services-a-la-personne/travaux-petit-bricolage" class="menu-level-leaf">Travaux de petit bricolage</a>
    </li>
    <li>
      <a href="/services-a-la-personne/preparation-repas-a-domicile" class="menu-level-leaf">Préparation de repas à domicile
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/livraison-repas-a-domicile" class="menu-level-leaf">Livraison de repas à domicile
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/collecte-et-livraison-a-domicile-linge-repasse" class="menu-level-leaf">Collecte et livraison de linge repassé
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/livraison-courses-a-domicile" class="menu-level-leaf">Livraison de courses à domicile
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/assistance-informatique-a-domicile" class="menu-level-leaf">Assistance informatique à domicile
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/maintenance-entretien-et-vigilance-temporaires-a-domicile-la-residence" class="menu-level-leaf">Maintenance et vigilance temporaires de résidence
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/assistance-administrative-a-domicile" class="menu-level-leaf">Assistance administrative à domicile
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/tele-assistance-et-visio-assistance" class="menu-level-leaf">Téléassistance et visio assistance
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/coordination-et-delivrance-des-sap" class="menu-level-leaf">Coordination et délivrance des SAP
      </a>
    </li>
  </ul>
</div>
</li>

<li>
  <div class="hidden menu-level">
    <button type="button" class="menu-level-back"><span>Services d'assistance et daccompagnement
    </span>
  </button>
  <ul class="menu-level-list">
    <li>
      <a href="/services-a-la-personne/assistance-aux-personnes-agees-ou-aux-personnes-qui-ont-besoin-d-aide" class="menu-level-leaf">Assistance aux personnes âgées, handicapées
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/prestation-conduite-vehicule-personnel-des-personnes-dependantes" class="menu-level-leaf">Conduite du véhicule des personnes âgées, handicapées
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/accompagnement-des-personnes-agees-ou-des-personnes-handicapees-ou-atteintes" class="menu-level-leaf">Accompagnement des personnes âgées, handicapées
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/interprete-langue-des-signes-technicien-ecrit-et-codeur-langage-parle" class="menu-level-leaf">Interprète en langue des signes
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/assistance-aux-personnes-qui-ont-besoin-temporairement-d-aide-personnelle-a" class="menu-level-leaf">Assistance aux personnes ayant besoin d&#039;une aide temporaire
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/conduite-du-vehicule-personnel-des-personnes-presentant-invalidite-temporaire" class="menu-level-leaf">Conduite du véhicule des personnes ayant besoin d&#039;une aide temporaire
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/accompagnement-des-personnes-qui-presentent-invalidite-temporaire" class="menu-level-leaf">Accompagnement des personnes ayant besoin d&#039;une aide temporaire
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/soins-d-esthetique-a-domicile-pour-personnes-dependantes" class="menu-level-leaf">Soins esthétiques aux personnes dépendantes
      </a>
    </li>
    <li>
      <a href="/services-a-la-personne/soins-et-promenades-d-animaux-compagnie-pour-personnes-dependantes" class="menu-level-leaf">Soins d&#039;animaux pour personnes dépendantes
      </a>
    </li>
  </ul>
</div>
</li>
