<div class="col-xs-12 col-sm-6 col-md-4">
  <br>
  <%= simple_form_for [@product, @booking] do |f| %>
  <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="booking[check_in]" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="booking[check_out]" />
  </div>
  <br>
  <%=  f.submit "Book the place", class: "btn btn-primary"%>
  <% end %>
</div>
