
<div class="col-xs-12 col-sm-4">
  <div class="message_row">
    <div class="col-xs-12">
      <ul id="conversations-list">
      </ul>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Discussion instantanée</h3>
        </div>
        <div class="panel-body">
          <% @conversations.each do |conversation| %>
            <ul>
              <% @users = []%>
              <% @users << conversation.sender unless conversation.sender == current_user %>
              <% @users << conversation.recipient unless conversation.recipient == current_user %>
              <% if @users.empty? %>
              <% else %>
                <% @users.each do |user| %>
                  <li>
                    <%= link_to user.email.split("@")[0], conversations_path(user_id: user), remote: true, method: :post %>
                    <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

