<div class="wrapper-profil">
  <div class="profile-header-wrapper">
    <div class="container profile-header-container text-center">

      <div class="tabs">
        <a class="tab active" data-target="#messagerie">
          <h3>Mes conversations</h3>
        </a>
        <a class="tab" data-target="#profile">
          <h3>Mon profile</h3>
        </a>
        <a class="tab" data-target="#colocataires">
          <h3>Mes colocataires</h3>
        </a>
        <a class="tab" data-target="#settings">
          <h3>Editer mes informations</h3>
        </a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="tab-content" id="messagerie">

    </div>
    <div class="tab-content hidden" id="profile">

    </div>
    <div class="tab-content hidden" id="colocataires">
        <%= render "cards" %>
    </div>
    <div class="tab-content hidden" id="settings">
      <h3 class="text-center">Informations personnelles</h3>
        <%= render "settings" %>
    </div>
  </div>
</div>


