<div class="banner" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 80%), url('<%= image_path('homepage-picture-2.jpg')%>');">



<div class="banner-content text-center parallax">

  <h1>Cosilver</h1> <p>Colocation pour jeunes seniors</p>
  <p>Trouvez vos futurs colocataires pour partager votre nouvelle vie et vos passions</p>

  <%= form_tag(offers_path, method: :get, class: 'form-search') do %>
    <%= text_field_tag :search, params[:search] , placeholder: "ville", class: "input-medium search-query" %>
    <%= submit_tag "Lancez-vous !", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
  <% end %>



  </div>
 </div>

