<div class="banner" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 50%), url('<%= image_path('homepage-picture-2.jpg')%>');">



<div class="banner-content text-center parallax">
  <h1>Co-silver finder</h1> <p>co-housing for senior people</p>
  <p>Find a cohouser, a place to live in and someone to share your hobbies</p>
  <form action="" method="get">

    <label class="form-search" for="GET-name" placeholder="Ville" ></label>
    <input id="GET-name" type="text" name="name">
    <input class="btn btn-trouve-colloc" type="submit" value="Trouve ton colloc'">
  </form>
 </div>
