<div id="footer">
  <div class="container">
    <div class="row hidden-xs">
      <div class="footer-content">
        <div class="col-xs-12 col-sm-6 col-md-3 footer-items">
          <p class="section">
            <strong>
              Informations générales
            </strong>
          </p>
          <ul class="list-unstyled">
            <li><a href="">FAQ</a></li>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Mentions légales</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 footer-items">
          <p class="section">
            <strong>
              A propos
            </strong>
          </p>
          <ul class="list-unstyled">
            <li><a href="#">Qui sommes-nous ?</a></li>
            <li><a href="#">La presse en parle</a></li>
            <li><a href="#">Rejoignez-nous</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 footer-items">
          <p class="section">
            <strong>
              Contactez-nous
            </strong>
          </p>
          <address>
            <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:#">contact@cosilver.com</a><br>
            <i class="fa fa-phone-square" aria-hidden="true"></i>01 76 97 09 98<br>
          </address>
          <address>
            <strong>CoSilver</strong><br>
            16 Villa Gaudelet<br>
            75011, Paris<br>
          </address>
        </div>
          <div class="col-xs-12 col-sm-6 col-md-3 footer-items">
          <p class="section">
            <strong>
              Réseaux sociaux
            </strong>
          </p>
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
            </ul>
            <p class="copyright">© CoSilver - 2017</p>
          </div>
      </div>

    </div>
  </div>
</div>
