<div class="banner-width">
<%= render 'shared/banner' %>
</div>
<div class="supporting">
   <div class="container">
     <div class="col-xs-12 col-md-6 col-lg-4 image-home">
       <%= image_tag "trouver-colloc.jpeg" %>
       <h2>Trouvez le colloc' idéal </h2>
       <p>Trouvez quelqu'un qui partage vos centres d'intérêts</p>
       <!--  <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-md-6 col-lg-4 image-home">
       <%= image_tag "visiter-appart.png" %>
       <h2>Visitez l'appartement</h2>
       <p>Prenez date et faites connaissance de l'appart et de son proprio</p>
       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-md-6 col-lg-4 image-home">
       <%= image_tag "amis-retraites.jpg" %>
       <h2>Emménagez!</h2>
       <p>Si le profil du colloc' et si l'appartement vous correspondent, nous vous accompagnons dans vos démarches d'emm</p>
       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>
   </div>
</div>
