<div class="banner-width">
<%= render 'shared/banner' %>

</div>
<div class="supporting">
   <div class="container text-center white-container">

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "communauté.png" %>
       <h2>Rejoignez la communauté CoSilver </h2>
       <p>Découvrez de nombreux profils et trouvez votre futurs colocataires</p>
       <!--  <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "chat.png" %>
       <h2>Discutez directement via la messagerie</h2>
       <p>Rien de mieux que de communiquer directement avec la personne proposant de colouer son appartement.</p>
       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>

     <div class="col-xs-12 col-sm-6 col-lg-4 image-home">
       <%= image_tag "service.png" %>
       <h2>Réservez des services</h2>

       <p>Que vous soyez propriétaire ou simplement à la recherche d'une colocation, découvrez et réservez les services dont vous avez besoin.</p>

       <!-- <a class="btn-default" href="#">Learn more</a> -->
     </div>
  </div>   <!-- Discussion instantanée -->
</div>     <!-- Display in dashboard and offers -->

