.item{
  align-items: center;
  justify-content: center;
  background-position: center;
  margin: auto;
    }

.carousel-inner img {
  margin: auto;
}

.carousel-control {
  background-image:none !important;
  // background-color: $dark-gray;
}

.carousel-inner {
  background-color: white;
}

#carousel-example-generic {
  width: 1080px;
  margin:auto;
}
