@import "utilities";
@import "footer";
@import "navbar";
@import "frame";
@import "typography";
@import "banner";
@import "cards";
@import "messages";
@import "show";


.container-index {
opacity: 0.6;
padding-top: 30px;
}

.map-container {
  background-color: $dark-gray;
  color: $orange;
}

.container-gray {
background-color: $gray;
}

.mappy {

}

