@import "utilities";
@import "footer";
@import "navbar";
@import "frame";
@import "typography";
@import "banner";
@import "cards";
@import "messages";
@import "show";
@import "offer-show";
@import "form-post";
@import "offers-index";


.container {
padding: 30px 0px;
}

.map-container {
  background-color: #FFFFFF;
  color: $orange;
  border-radius: 4px;
}

.container-gray {
background-color: $gray;
}

.mappy {

}

