.messages-list {
  height: 300px;
  overflow: scroll;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.message-sent {
  // position: relative;
  background: $blue;
  color: white;
  font-size: 10px;
  margin: 5px 20px;
  padding: 10px;
  max-width: 250px;
  border-radius: 15px;
  word-wrap: break-word;
  text-align: left;
  float:right;
}

.message-received {
  background-color: $orange;
  color: white;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  border-radius: 15px;
  max-width: 250px;
  font-size:10px;
  word-wrap: break-word;
  text-align: left;
}

.message_row ul {
  padding-left: 0px;
  list-style: none;
  font-size: 10px;
}

// .message_row ul a {
// text-decoration: none
// }

.panel-title {
  font-size: 15px;
  color: white;
}

.panel-body a:hover {
  color: #F78536;
  text-decoration: none;
  // width: 300px;
}

.panel {
  border-radius: 5px;
  border-color: #F78536;
  padding: 0;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
}

.panel-heading {
  text-align: center;
  border-bottom: 1px solid $orange;
  font-size:13px;
  background: #F78536;
   a {
    text-decoration:none;
    font-size:15px;
   }
}

textarea.form-control {
  height: 30px;
  margin-bottom: 10px;
  margin-top:10px;
}

.panel-default {
  // position: absolute;
  min-width: 300px;
  max-width: 450px;
  width:auto;
}

.panel-body ul {
  list-style: none;
}


#messenger {
  position:fixed;
  bottom: 0;
  right: 0;
  width: auto;
  .message_row {
    position:absolute;
    z-index: 1000;
    bottom: 0px;
    right: 250px;
  }
}
.new_message textarea {
  resize:none;
}

.send_message {
  position: relative;
  input[type=submit] {
    position: absolute;
    right: 0;
    top:0;
    height: 36px;
  }
  .form-control {
    padding-right: 60px;
    margin-top: 20px;
  }
}

.panel-body {
  padding: 2px;
  font-size:10px;
  padding-left:10px;
  ul {
    width: 100%;
  }
}

#messagerie .panel-default {
  min-width: 100%;
  max-width: 100%;

}
