.messages-list {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

}
.message-sent {
  // position: relative;
  background: #2E2C3C;
  color: white;
  font-size: 12px;
  margin: 5px 20px;
  padding: 10px;
  max-width: 150px;
  border-radius: 15px;
}

.message-received {
  background-color: $orange;
  color: white;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: right;
  border-radius: 3px;
  max-width: 150px;
}

.message_row ul {
  padding-left: 0px;
  list-style: none;
  font-size: 13px;
}

.message_row {
  bottom: 0;
  // width: 100%;
  // position: relative;
  display: flex;

}

.panel-title {
  font-size: 12px;
  color: #302E3E;
}

.panel-body a:hover {
  color: #F78536;
  text-decoration: none;
  // width: 300px;
}

.panel {
  border: 1px solid;
  border-color: #302E3E;
  border-radius: 5px;
  color: #2E2C3C;
  width: 400px;
}

.panel-heading {
  text-align: center;
  border-bottom: 1px solid;
}

textarea.form-control {
  height: 30px;
}

.panel-default {
  // position: absolute;
  width: 500px;
}




