.messages-list {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  // position: relative;
  background: #2E2C3C;
  color: white;
  font-size: 12px;
  margin: 5px 20px;
  padding: 10px;
  max-width: 150px;
  border-radius: 15px;
}

.message-received {
  background-color: $orange;
  color: white;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: right;
  border-radius: 15px;
  max-width: 150px;
}

.message_row ul {
  padding-left: 0px;
  list-style: none;
  font-size: 13px;
}

.panel-title {
  font-size: 12px;
  color: #302E3E;
}

.panel-body a:hover {
  color: #F78536;
  text-decoration: none;
  // width: 300px;
}

.panel {
  border-radius: 5px;
  color: #2E2C3C;
}

.panel-heading {
  text-align: center;
  border-bottom: 1px solid;
}

textarea.form-control {
  height: 30px;
}

.panel-default {
  // position: absolute;
  box-shadow: 5px 5px 0px #aaa;
}

.panel-body ul {
  list-style: none;
}




