.btn-fb {
  font-family: 'Roboto', open-sans;
  color: white;
  background-color: #4569b3;
  border-color: #3B5998;
  padding-left: 15px;
  padding-right:15px;
  width: auto;
  border-radius: 5px;
  padding-top:10px;
  padding-bottom:10px;
}

.btn-fb:hover {
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-co {
  padding-top: 15px;
  color: #FFFFFF ;
  background-color: #F78536;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.btn-mdp {
  background-color: none;
  font-size: 15px;
  padding-bottom: 15px;
  color: #FFFFFF;
  border-radius: 5px;
}

.btn-insc {
  display: inline-block;
}
