.offer_card {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 20px #555;
  -webkit-box-shadow: 0 0 20px #555;
  box-shadow: 0 0 20px #555;
  width:100%;
  padding: 30px;
  margin-top: 30px;
  margin: 30px;
  background-color: $gray;
  opacity: 0.8;
  position: fixed;
  top: 250px;
  left: 65px;
  max-width: 78vw;
  max-height: 50vh;
}

.offer_image {

}

.offer_desc {
  list-style: none;
}

.offer_map {
  position: relative;
}

.offer_btn {
  padding: 30px;
}

.container-show {
  max-height: 30vh;
}

.container-cards {
  max-height: 50vh;
  position: relative;
  top: 600px;
  left: -30px;

}

.calendrier {
  position: fixed;
  top: 200px;
  right: 75px;
  height: 30vh;
  width: 40vw;
  opacity: 0.3;
}
