.tabs {
  background: white;
  display: flex;
  padding: 0 0 0 0;
  // border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
  margin-top: 10px;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 15px;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $dark-gray;
  flex: 1 1 auto;
  text-align: center;
  padding: 10px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: $orange;
  color: black;
}
.tab-content {
  padding-top: 0px;
}
.tab-content p {
  font-size: 10px;
  font-weight: bold;
}


