<div class="col-xs-6">
  <div class="book-form">
    <div class='datepicker'>
      <!-- The datepicker will be drawn in this div -->
      <div id="datepicker_id"></div>
    </div>
    <div>
      <%= render 'form_add_availability' %>
    </div>
  </div>
</div>
